#schedual {
    display: flex;
    flex-direction: row;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
    justify-content: space-between;
    margin-right: 40px;
    margin-left: 40px;
}

#schedual div {
    color: #FFFFFF;
    background-color: #3A5199;

    text-align: center;
    border: 2px solid white;
    box-sizing: border-box;
    padding: 5px;

}

#schedual h2 {
    color: #FFFFFF;
}